#main{
position: fixed;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(17,17,17);
/* overflow-y: scroll; */
flex-direction: column;
align-content: center;
justify-items: center;
}
#feild{
    /* position: absolute; */
width: 100%;
height: 92%;
display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
align-content: center;
overflow-y: scroll;
overflow-x: hidden;
/* margin-top: 10%; */
/* z-index: 100; */
}
#lab{
    margin: .5%;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    text-align: center;
}
input{
    text-align: center;
    border-radius: 25px;
    width: 20%;
    height: 10%;
}
#calcbtn{
    border:0;
    margin:.8% ;
    width: 8%;
    height: 75%;
    border-radius: 25px;
    cursor: pointer;
    background-color: lightgray;
font-weight: bolder;
font-family: monospace;

}
#btn{width: 100%;
display: flex;
justify-content: center;
height: auto;

}
#marks{
    font-family: monospace;
}
#calcbtn:hover{
    animation: as .5s forwards ease-in;
}
@keyframes as {
    to{
        background-color: black;
        color: white;
    }
}

#nav{
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-family: monospace;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: .5%;
    z-index: 1000 !important;
}
#no{
    color: white;
    font-family: monospace;
    margin: .6%;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  background-color: #f2f2f2 
}
#marks{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2rem;
    visibility: hidden;
}
@media(max-width:600px){
    input{
        width: 80%;
    }
#btn{
    width: 100%;
}
#calcbtn{
    width: 60%;
    margin: 3%;
}
#feild{
    margin-top: 2%;
}
#no{
    margin:2%;
}
input{
    margin: 1%;
}
}
